/*Index page CSS*/

div {
    background-color: #f3f0db;
}

.headerfont {
    font-family: "American Typewriter", sans-serif, Verdana; 
    color: white;
    font-weight: 600;
    background-color: #614c40;
    text-align: center;
    padding: 16px;
}

#imgindex {
    height: 350px;
    width: auto; 
    border-radius: 15px;
    display: block;
    text-align: center;
    margin: auto;
}

#pfont {
    color: brown;
    font-size: 20px;
    font-family: "Gill Sans", sans-serif, Verdana;
    display: block;
    padding: 16px;
    text-align: center;
}

.landing {
    font-size: 18px;
    font-family: "Gill Sans", sans-serif, Verdana;
    text-align: center;
    color: white;
    text-align: center;
}

.landing li {
    margin: auto;
    padding: 0px; 
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
}

button {
    font-family: "Gill Sans", sans-serif, Verdana;
    font-size: 18px;
    color: white;
    background-color: #80756f;
    border-style: solid;
    padding: 10px;
    margin: 5px;
    
}

.smol {
    position: fixed;
    bottom: 0;
}


/*recipes let's goooo*/

#headercss {
    font-family: "American Typewriter", Helvetica, Verdana; 
    font-weight: 700;
    text-align: center;
}

.yummy {
    height: 350px;
    width: auto; 
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.whatrecipe {
    font-family: "American Typewriter", sans-serif, Verdana; 
    color: rgb(97, 69, 69);
    font-weight: 600; 
    text-align: left;
}

.thisrecipe {
    font-family: Georgia, Verdana, Helvetica;
    color: black;
    list-style-position: inside;
    text-align: left;
}

.countryroads {
    bottom: 0;
}