/*Index page CSS*/

* {
    background-color: #fcfbf4;
    text-align: center;
}

.headerfont {
    font-family: "American Typewriter", sans-serif, Verdana; 
    color: white;
    font-weight: 600;
    background-color: #614c40;
}

#imgindex {
    height: 350px;
    width: auto; 
    border-radius: 15px;
}

#pfont {
    font-size: 20px;
    font-family: "Gill Sans", sans-serif, Verdana;
}

.lfont {
    color: brown;
    font-size: 18px;
    font-family: "Gill Sans", sans-serif, Verdana;
    list-style-position: inside;
}

.smol {
    position: fixed;
    bottom: 0;
}


/*recipes let's goooo*/

#headercss {
    font-family: "American Typewriter", Helvetica, Verdana; 
    font-weight: 700;
    text-align: center;
}

.yummy {
    height: 350px;
    width: auto; 
    border-radius: 15px;  
}

.whatrecipe {
    font-family: "American Typewriter", sans-serif, Verdana; 
    color: rgb(71, 62, 62);
    font-weight: 600; 
    text-align: left;
}

.thisrecipe {
    font-family: Georgia, Verdana, Helvetica;
    color: black;
    list-style-position: inside;
    text-align: left;
}

.countryroads {
    bottom: 0;
}